.header {
    grid-area: header;
    background-color: #ffb0c4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo img {
        width: 600px;
    }

    .navbar a:hover {
        text-decoration: underline;
    }

}