
.grid_container_cat {
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 150px 1250px 230px;
}

.categoria__galeria {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.categoria__titulo {
    margin-top: 60px;
    padding: 20px;
    font-family: 'Italiana', serif;
    font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: 1px;
    text-align: center;
}

.categoria__galeria {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: repeat(2, 350px); */
    column-gap: 20px;
    row-gap: 70px;
}

.card {
    width: 100%;
    margin: 0 auto;
}

/* .card {
    border: 1px solid grey;
    height: 500px;
}

.galeria_foto {
    width: 100%;
} */

.card {
    opacity: 0.9;
    transition: all 0.3s;
}

.card:hover {
    opacity: 1;
    color: violet;
}

.galeria__articulo img {
    width: 100%;
    height: 90%;
}

.galeria__articulo p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}

.p1 {
    font-size: 1.5rem;
    text-align: center;
}

.p2 {
    font-size: 1.3rem;
    text-align: center;
}



@media (min-width: 576px) and (max-width: 992px) {
    html {
        font-size: 75%;
    }


    .grid_container_cat {
        grid-template-rows: 100px 2500px 230px;
    }

    .categoria__galeria {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 576px) {
    html {
        font-size: 75%;
    }

    .grid_container_cat {
        grid-template-rows: 100px 5200px 230px;
    }

    .categoria__galeria {
        grid-template-columns: 1fr;
    }

}