.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #ffb0c4;
  padding: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 600px;
}

.header .navbar a:hover {
  text-decoration: underline;
}

* {
  margin: 0;
}



.indexBody {
  width: 100%;
  background-image: url(../img/pink-and-yellow-plain-background.jpg);
}

.grid_container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 5px;
      grid-template-areas: "header"
 "video"
 "categorias"
 "footer";
  -ms-grid-rows: 0px 1000px 2300px 230px;
      grid-template-rows: 0px 1000px 2300px 230px;
}

.carousel_container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: video;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel_container .carousel-control-next {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.carousel_container .carousel-control-prev {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.categorias_container {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: categorias;
  /*     background-color: rgb(158, 53, 53); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.categorias_container__cat, .categorias_container__cat--especial {
  background-color: rgba(122, 40, 199, 0.768);
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.categorias_container__cat--especial {
  background-color: rgba(191, 40, 199, 0.768);
}

.categorias_container__cat .cat_titulo, .categorias_container__cat--especial .cat_titulo {
  font-family: "Italiana", serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.categorias_container__cat .cat__galeria, .categorias_container__cat--especial .cat__galeria {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.categorias_container__cat .cat__galeria img, .categorias_container__cat--especial .cat__galeria img {
  width: 100%;
  height: 90%;
  border: solid 5px;
  border-color: #ffffff;
}

.categorias_container__cat .cat__ver_mas, .categorias_container__cat--especial .cat__ver_mas {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #ffffff;
}

.categorias_container__cat .cat__ver_mas a, .categorias_container__cat--especial .cat__ver_mas a {
  color: #ffffff;
  text-decoration: none;
}

.categorias_container__cat .cat__ver_mas a:hover, .categorias_container__cat--especial .cat__ver_mas a:hover {
  text-decoration: underline;
}

.categorias_container__cat:hover, .categorias_container__cat--especial:hover {
  background-color: rgba(137, 43, 226, 0.768);
}

.categorias_container__cat--especial:hover {
  background-color: rgba(196, 78, 202, 0.768);
}

.fuente--titulo {
  font-family: "Italiana", serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.fuente--parrafo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 2rem;
  letter-spacing: 1px;
}

.fuente--parrafo a {
  color: #ffffff;
  text-decoration: none;
}

.fuente--parrafo a:hover {
  text-decoration: underline;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 2px solid black;
}

.footer__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  margin-right: 50px;
}

.footer__lista li {
  width: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__lista li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__lista img {
  width: 100%;
}

.footer__contactoYCopy {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer__titulo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.footer__texto {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-left: 5px;
}

.footer .contacto a {
  text-decoration: none;
}

.footer .contacto a:hover {
  text-decoration: underline;
}

/* Medidas de celular, tablet y desktop */
@media (min-width: 576px) and (max-width: 992px) {
  .grid_container {
    -ms-grid-rows: 100px 500px 3000px 230px;
        grid-template-rows: 100px 500px 3000px 230px;
  }
  .header__logo img {
    width: 350px;
  }
  .categorias_container__cat .cat__galeria, .categorias_container__cat--especial .cat__galeria {
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 100px;
  }
  .categorias_container__cat, .categorias_container__cat--especial {
    height: 950px;
  }
  .footer__texto {
    font-size: 1.5rem;
  }
  html {
    font-size: 75%;
  }
}

@media (max-width: 576px) {
  .grid_container {
    -ms-grid-rows: 100px 400px 7700px 230px;
        grid-template-rows: 100px 400px 7700px 230px;
  }
  .header__logo img {
    width: 50vw;
  }
  .categorias_container__cat, .categorias_container__cat--especial {
    height: 2500px;
  }
  .categorias_container__cat .cat__galeria, .categorias_container__cat--especial .cat__galeria {
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-row-gap: 30px;
    grid-column-gap: 100px;
  }
  .footer__lista li {
    width: 60px;
  }
  .footer__texto {
    font-size: 1.5rem;
  }
  html {
    font-size: 75%;
  }
}
/*# sourceMappingURL=main.css.map */